[alt ~="vid-20"] video {
  width: 20%;
}
[alt ~="vid-30"] video {
  width: 30%;
}
[alt ~="vid-40"] video {
  width: 40%;
}
img[alt ~="img-25"] {
  width: 25% !important;
  height: 350px !important;
}
img[alt ~="img-50"] {
  width: 50% !important;
  height: 550px !important;
}
img[alt ~="img-100"] {
  width: 100px;
}
img[alt ^="img-"]:hover {
  display: inline-flex;
  width: 100% !important;
  height: 100% !important;
}
div[alt ~="pdf-25"] {
  width: 25% !important;
  height: 350px !important;
}
div[alt ~="pdf-50"] {
  width: 50% !important;
  height: 550px !important;
}
img {
  width: 100px;
}
img:hover {
  display: inline-flex;
  width: 100% !important;
  height: 100% !important;
}
